body{
	display:flex
}

#next_turn{
	background-color:black;
	color:white;
	font-size:20px;
	text-align:center;
	height:30px;
	width:100px;
	position:absolute;
	left:50%;
	bottom:100px;
	border:2px solid black;
	border-radius:3px;
}

