/* 工作Tile */
	.workTile_div{
		min-height:55px;
		border:2px solid black;
		border-radius:5px;
		
		position:relative;
		padding:10px 0px;
		align-items: center;

		margin:4px 0px;
	}

	/* 工作对象的名称 */
	.workTile_div > div:nth-child(1){
		font-size:20px;
		width:40%;
		text-align:center;
	}
	/* 工作对象的信息 */
	.workTile_div > div:nth-child(2){
		text-align:left;
	}

	.workTile_div > .work_delete{
		position:absolute;
		right:2px;
		top:2px;
	}


	.workTile_div#新增工作{
		justify-content: center;
		align-items: center;
		border-style:dashed;
	}

/* 参与工作菜单 */
	.workTile_menuDiv{
		height:25px;
		display: flex;
		margin:4px;
	}

	.workTile_menuDiv > span{
		white-space:nowrap;
		margin-right:10px;
	}

	

	


