.work_information{
	min-height:55px;
	border:2px solid black;
	border-radius:5px;

 	margin:4px 0px;
}

.work_information_inner{
	position:relative;
	
	padding:10px 0px;
 	align-items: center;
}

.work_information_inner > div:nth-child(1){
	font-size:20px;
	width:50%;
	text-align:center;
}

.work_information_inner > div:nth-child(2){
	text-align:center;
}

.work_information_inner > .work_delete{
	position:absolute;
	right:2px;
	top:2px;
}


.work_information#addWork{
	display: flex;
  	justify-content: center;
 	align-items: center;

 	border-style:dashed;
}

#work_menu{
	background-color:white;
	overflow-y:auto;

	min-height:200px;
	max-height:100%;
	min-width:250px;

	border:2px solid black;
	border-radius:3px;

	position:absolute;

	left:100%;
	top:-2px;
}

.work_menu_information{
	height:25px;

	display: flex;

	margin:4px;
}

.work_menu_information > span{
	white-space:nowrap;
	margin-right:10px;
}

.work_menu_information input{
	font-size:20px;
	width:50px;
	border: none;
  	border-bottom: 1px solid black;
  	outline: none; /* 可选：去除聚焦时的边框 */

  	text-align:right;

  	margin-left:10px;
}

.work_menu_count{
	margin-left:auto;

	display:flex;
	justify-content: center;
 	align-items: center;
}

.work_menu_button{
	font-weight:bold;
	width:20px;
	height:20px;

	text-align: center;
	line-height: 100%;

	border:2px solid black;
	border-radius:3px;
	margin:2px;
}

.work_menu_button.disable{
	color:white;
	background-color:black;
}


#addWork_menu{
	background-color:white;

	height:100%;
	min-width:250px;

	border:2px solid black;
	border-radius:3px;

	position:absolute;

	left:100%;
	top:-2px;
}
.addWork_menu_information{
	display: flex;

	margin-bottom:4px;

	padding:5px 0;

	border:2px solid black;
	border-radius:3px;
}

.addWork_menu_information .object{
	width: 30%;

	display:flex;
	justify-content: center;
 	align-items: center;

 	text-align:center;
 	
	padding:0 20px;

	font-size:20px;
}



