body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#main{
	height: 100%;
	width: 100%;
}

.flex{
	display:flex;
}

.bold{
	font-weight:bold;
}

/* 滚动条 */
*::-webkit-scrollbar{
	position:relative;
	right:-5px;
    width:9px;
    height:10px;
}

*::-webkit-scrollbar-thumb{
    background-color:black;
    background-clip: padding-box;
    border: solid transparent;
    border-radius:100px;
}

table{
	white-space: nowrap;
	font-size:18px;
	line-height:1;
}

th{
	font-weight:normal;
	padding-right:15px;
}

td{
	text-align: center;
	padding-right:15px;
}

